#mobile-container {
    display: flex;
    flex-direction: column;
    align-items: center;
    padding: 3vh 0;
}

.mobile-colorful-rectangle {
    padding: 2rem;
    display: flex;
    justify-content: center;
    align-items: center;
    text-align: center;
}

.mobile-photo-rectangle{
    object-fit: cover;
}