@import url('https://fonts.googleapis.com/css2?family=Comfortaa:wght@300&display=swap');

* {
  font-family: 'Comfortaa', cursive;
  box-sizing: border-box;
  margin: 0;
  padding: 0;
}

.app {
  width: 100%;
}

main {
  background-image: url("../assets/main-background.jpg");
  background-repeat: repeat;
  background-size: 57%;
  min-height: calc(100vh - 80px)
}

.nav-offset {
  height: 80px;
}
