@font-face {
    font-family: 'HeaderFont';
    src: url("../../fonts/Maler.ttf") format('truetype'),
    url("../../fonts/Maler-Regular.eot") format('embedded-opentype'),
    url("../../fonts/Maler-Regular.eot?#iefix") format('embedded-opentype'),
    url("../../fonts/Maler-Regular.svg") format('svg'),
    url("../../fonts/Maler-Regular.woff") format('woff'),
    url("../../fonts/Maler-Regular.woff2");
}

header.main-header {
    height: 100vh;
    background-image: url("../../assets/main-page-header.jpg");
    background-position: center;
    background-attachment: fixed;
    background-size: cover;
    padding: 0 0;
}

header.main-header div {
    display: flex;
    flex-direction: column;
    align-items: center;
    padding: 0.5rem 0.5rem;
    justify-content: center;
    text-align: center;
    background-color: rgba(0,0,0,0.5);
    height: 100%;
}

header.main-header h1 {
    font-family: 'HeaderFont';
    font-size: max(7vw,7vh);
}

@media screen and (max-width: 400px){
    header.main-header h1 {
        font-size: max(5vw,5vh);
    }
}